extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen sobre paris" class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis eu mi et scelerisque. Vivamus ultricies vulputate turpis. Aliquam diam nibh, dictum et porttitor id, aliquam vel felis. Vestibulum nec commodo ex, non vehicula dui. Pellentesque varius malesuada metus sit amet gravida. Nulla pretium porta massa, eu vehicula turpis. Suspendisse at nunc est. Praesent mattis dolor mattis urna malesuada, id interdum turpis lobortis. In odio sapien, mollis malesuada felis ac, imperdiet rhoncus nisi. Ut eu felis dictum, viverra massa vitae, vestibulum odio. Morbi et odio venenatis, pulvinar odio at, facilisis nisi. Duis vitae lobortis ante. Vestibulum viverra elementum maximus. Mauris finibus facilisis ipsum quis ornare. Nullam dapibus non metus eu molestie. Integer at tellus eu eros aliquet fermentum.
                p ultrices magna libero, a feugiat turpis suscipit eu. Nullam egestas est nec tincidunt interdum. Vestibulum nibh purus, condimentum sed placerat ut, consectetur eu dui. Praesent purus lacus, efficitur non convallis et, consectetur a leo. Praesent venenatis suscipit lacus nec cursus. Integer posuere, urna eget congue pulvinar, metus urna tristique velit, ut aliquam ligula lectus et nibh. Cras tristique fermentum arcu, vel convallis felis ultrices et. In vestibulum, nisi rutrum volutpat viverra, est massa molestie risus, a congue nunc dui eget eros. Proin tellus turpis, facilisis nec risus ut, consectetur fringilla risus. Nam venenatis varius sapien eu feugiat. Quisque nunc enim, facilisis a sapien in, faucibus cursus magna. Sed quis faucibus felis. Donec blandit pulvinar odio. Duis feugiat turpis neque, at mattis augue pellentesque eget.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    
                    h2.mb4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum debitis eveniet provident, aut dicta odit mollitia suscipit pariatur. Vero, ipsum.
                .col-md-4 
                    img(src="img/icono_destinos.svg" alt="icono seguridad" class="img-fluid mb-4")
                    
                    h2.mb4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum debitis eveniet provident, aut dicta odit mollitia suscipit pariatur. Vero, ipsum.
                .col-md-4 
                    img(src="img/icono_precios.svg" alt="icono seguridad" class="img-fluid mb-4")
                    
                    h2.mb4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum debitis eveniet provident, aut dicta odit mollitia suscipit pariatur. Vero, ipsum.
            